version: '3'
services:
  vtgate:
    image: "{{ vt_docker_tag }}"
    network_mode: host
    hostname: "{{ inventory_hostname }}"
    ports:
      - "{{ vtgate_web_port }}:15001"
      - "{{ vtgate_grpc_port }}:15991"
    volumes:
      - "{{ vtgate_syslog_dir }}:/dev/log"
      - "{{ vtgate_data_dir }}:{{ vt_env_vtdataroot }}"
    environment:
      VTROOT: "{{ vt_env_vtroot }}"
      VTTOP: "{{ vt_env_vttop }}"
      VTDATAROOT: "{{ vt_env_vtdataroot }}"
    command: >-
      /bin/sh -c
      'mkdir -p {{ vt_env_vtdataroot }}/tmp &&
      chown -R vitess /vt &&
      su -p -c "{{ vt_env_vtroot }}/bin/vtgate
      {{ vt_env_topology_flags | join(' ')}}
      -log_dir {{ vt_env_vtdataroot }}/tmp
      -alsologtostderr
      -port 15001
      -grpc_port 15991
      -service_map grpc-vtgateservice
      -cells_to_watch {{ vt_cell }}
      -tablet_types_to_wait MASTER,REPLICA
      -gateway_implementation discoverygateway
      -cell {{ vt_cell }}" vitess'
