---
- name: Configure /etc/hosts
  template:
    src: hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644
  become: yes

- name: Install utilities
  apt:
    name: "{{ item }}"
    state: present
  become: yes
  with_items:
    - jq
    - iptables-persistent
